@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  @apply font-sans bg-gray-100 text-sm p-2 text-black;
}

a {
  @apply underline cursor-pointer text-blue-600;
  text-underline-offset: .2rem;
  text-decoration-color: #155dfc;
}

h1 {
  @apply text-xl font-bold;
}

h2 {
  @apply text-lg font-semibold;
}

.p-toast {
  box-sizing: border-box;
  max-width: calc(100vw - 40px);
}

.p-toast-detail {
  color: #000 !important;
}

.p-dialog {
  background-color: #fff !important;
  color: #000 !important;
  border: none !important;
}

.p-inputtext, .p-textarea {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #99a1af !important;
}
.p-inputtext:focus, .p-textarea:focus {
  border-color: #6a7282 !important;
}

.p-inputtext.p-invalid {
  border-color: #d32f2f !important;
  box-shadow: 0 0 0 2px rgba(211,47,47,0.15);
}

.p-datepicker .p-inputtext, .p-datepicker .p-datepicker:focus {
  border: none !important;
}
.p-datepicker .p-inputtext {
  width: 7rem !important;
  text-align: center !important;
}

.p-button {
  padding : 0.25rem 0.5rem !important;
}

.p-datepicker-buttonbar {
  justify-content: center !important;
}