@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  @apply font-sans bg-gray-100 text-xs text-neutral-950;
}

h2 {
  @apply text-lg font-semibold;
}

.p-toast-detail {
  @apply text-neutral-950;
  color: #0a0a0a !important;
}

.vch__legend {
  @apply hidden;
}