@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', 'Liberation Sans', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

:root {
  color-scheme: light;
}

body {
  @apply bg-gray-100 font-sans text-sm text-black dark:bg-gray-800 dark:text-white;
}

a {
  @apply cursor-pointer text-blue-800 underline dark:text-blue-400;
  text-underline-offset: 0.2rem;
  text-decoration-color: var(--a-text-decoration-color);
}
a:hover {
  text-decoration-line: none;
}

h1 {
  @apply text-xl font-bold;
}

h2 {
  @apply text-lg font-semibold;
}

.p-toast {
  box-sizing: border-box;
  max-width: calc(100vw - 40px);
}

.p-toast-detail {
  color: #000 !important;
}

.p-dialog {
  background-color: #fff !important; /* white */
  color: #000 !important; /* black */
  border: none !important;
}

#theme-toggle.p-button {
  background-color: var(--theme-toggle-p-button-bg, #e5e7eb) !important; /* gray-200 */
  border-color: var(--theme-toggle-p-button-border-color, #d1d5db) !important; /* gray-300 */
  padding: 0 !important;
  vertical-align: middle !important;
  box-shadow: var(
    --p-box-shadow,
    0 0 #0000,
    0 0 #0000,
    0 1px 2px 0 rgba(18, 18, 23, 0.05)
  ) !important;
}
#theme-toggle.p-button:hover {
  background-color: var(--theme-toggle-p-button-hover-bg, #d1d5db) !important; /* gray-300 */
  border-color: var(--theme-toggle-p-button-hover-border-color, #9ca3af) !important; /* gray-400 */
}
#theme-toggle.p-button:active {
  border-color: var(--theme-toggle-p-button-active-border-color, #9ca3af) !important; /* gray-400 */
  background-color: var(--theme-toggle-p-button-active-bg, #9ca3af) !important; /* gray-400 */
}
#theme-toggle.p-button:active .p-button-icon {
  color: var(--theme-toggle-p-button-active-icon-color, #4b5563) !important; /* gray-600 */
}
#theme-toggle.p-button-icon-only {
  width: 2rem !important;
  height: 2rem !important;
}
#theme-toggle .p-button-icon {
  color: var(--theme-toggle-p-button-icon-color, #6b7280) !important; /* gray-500 */
  font-size: 0.875rem !important;
}

.p-select {
  height: 2rem !important;
  background-color: var(--lang-select-p-select-bg, #e5e7eb) !important; /* gray-200 */
  border-color: var(--lang-select-p-select-border-color, #d1d5db) !important; /* gray-300 */
  vertical-align: middle !important;
  box-shadow: var(
    --p-box-shadow,
    0 0 #0000,
    0 0 #0000,
    0 1px 2px 0 rgba(18, 18, 23, 0.05)
  ) !important;
}
.p-select:hover {
  background-color: var(--lang-select-p-select-hover-bg, #d1d5db) !important; /* gray-300 */
}
.p-select:active {
  background-color: var(--lang-select-p-select-active-bg, #9ca3af) !important; /* gray-400 */
  border-color: var(--lang-select-p-select-active-border-color, #9ca3af) !important; /* gray-400 */
}
.p-select-label {
  color: var(--lang-select-p-select-label-color, #4b5563) !important; /* gray-600 */
  font-size: 0.875rem !important;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem !important;
}
.p-select-overlay {
  background-color: var(--lang-select-p-select-overlay-bg, #fff) !important; /* white */
  border-color: var(--lang-select-p-select-overlay-border-color, #d1d5db) !important; /* gray-200 */
}
.p-select-dropdown {
  width: auto !important;
  color: var(--lang-select-p-select-dropdown-color, #6b7280) !important; /* gray-500 */
  padding: 0.25rem 0.5rem 0.25rem 0.25rem !important;
}
.p-select:active .p-select-dropdown {
  color: var(--lang-select-p-select-active-dropdown-color, #4b5563) !important; /* gray-600 */
}
.p-select-option {
  color: var(--lang-select-p-select-option-color, #6b7280) !important; /* gray-500 */
}
.p-select-option:not(.p-select-option-selected):not(.p-disabled):hover,
.p-select-option.p-focus {
  background-color: var(--lang-select-p-select-option-focus-bg, #eff6ff) !important; /* blue-50 */
}
.p-select-option-selected,
.p-select-option.p-select-option-selected.p-focus {
  color: var(--lang-select-p-select-option-selected-color, #fff) !important; /* white */
  background-color: var(
    --lang-select-p-select-option-selected-bg,
    #2563eb
  ) !important; /* blue-600 */
}

.p-inputtext,
.p-textarea {
  background-color: var(--p-inputtext-textarea-bg, #fff) !important; /* white */
  color: var(--p-inputtext-textarea-color, #000) !important; /* black */
  border-color: var(--p-inputtext-textarea-border-color, #e5e7eb) !important; /* gray-200 */
}
.p-inputtext:focus,
.p-textarea:focus {
  border-color: var(--p-inputtext-textarea-active-border-color, #d1d5db) !important; /* gray-300 */
}

.p-inputtext.p-invalid {
  border-color: #d32f2f !important; /* red-700 */
  box-shadow: 0 0 0 2px rgba(211, 47, 47, 0.15);
}

.p-datepicker .p-inputtext {
  width: 7rem !important;
  text-align: center !important;
  box-shadow: none !important;
  border: none !important;
}

.p-datepicker-panel {
  background-color: var(--p-datepicker-bg, #fff) !important; /* white */
  border-color: var(--p-datepicker-border-color, #e5e7eb) !important; /* gray-200 */
}
.p-datepicker-header {
  background-color: var(--p-datepicker-bg, #fff) !important; /* white */
  border-block-end-color: var(--p-datepicker-border-color, #e5e7eb) !important; /* gray-200 */
}
.p-datepicker-buttonbar {
  border-block-start-color: var(--p-datepicker-border-color, #e5e7eb) !important; /* gray-200 */
}

.p-datepicker-day,
.p-datepicker-month,
.p-datepicker-year,
.p-datepicker-select-month,
.p-datepicker-select-year,
.p-datepicker-weekday,
.p-datepicker-decade {
  color: var(--p-datepicker-color, #000) !important; /* black */
}

.p-button-text {
  color: var(--p-datepicker-p-button-text-color, #193cb8) !important; /* blue-800 */
}

.p-datepicker-buttonbar {
  justify-content: center !important;
}

.p-datepicker-prev-button:hover,
.p-datepicker-next-button:hover,
.p-datepicker-day:hover,
.p-datepicker-month:hover,
.p-datepicker-year:hover,
.p-datepicker-select-month:hover,
.p-datepicker-select-year:hover,
.p-datepicker-today-button:hover,
.p-datepicker-today .p-datepicker-day:hover {
  background-color: var(--p-datepicker-item-hover-bg, #eff6ff) !important; /* blue-50 */
}
.p-datepicker-prev-button:active,
.p-datepicker-next-button:active,
.p-datepicker-day:active,
.p-datepicker-month:active,
.p-datepicker-year:active,
.p-datepicker-select-month:active,
.p-datepicker-select-year:active,
.p-datepicker-today-button:active,
.p-datepicker-today .p-datepicker-day:active {
  background-color: var(--p-datepicker-item-active-bg, #dbeafe) !important; /* blue-100 */
}
.p-datepicker-today .p-datepicker-day {
  background-color: var(--p-datepicker-day-today-bg, #bfdbfe) !important; /* blue-200 */
}
.p-datepicker-day.p-datepicker-day-selected,
.p-datepicker-today .p-datepicker-day.p-datepicker-day-selected,
.p-datepicker-month.p-datepicker-month-selected,
.p-datepicker-year.p-datepicker-year-selected {
  color: var(--p-datepicker-item-selected-color, #fff) !important; /* white */
  background-color: var(--p-datepicker-item-selected-bg, #2563eb) !important; /* blue-600 */
}
