@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  @apply font-sans bg-gray-100 text-sm p-2 text-black;
}

h2 {
  @apply text-lg font-semibold;
}

.p-toast {
  box-sizing: border-box;
  max-width: calc(100vw - 40px);
}

.p-toast-detail {
  color: #000 !important;
}

.p-dialog {
  background-color: #fff !important;
  color: #000 !important;
  border: none !important;
  border-radius: 0.375rem !important;
}