@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  @apply font-sans bg-gray-100 text-xs;
}

h2 {
  @apply text-lg font-semibold;
}

.vch__legend {
  @apply hidden;
}